/* Font declarations */
@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/Segoe UI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/Segoe UI Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/Segoe UI Bold Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  

  * {
    margin: 0;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #F9B80014;
  }
  

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  
  input, button, textarea, select {
    font: inherit;
  }
  

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  

  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
 
  #root, #__next {
    isolation: isolate;
  }